<div class="rounded shadow bg-info p-4 m-3">
    <div class="row">
        <div class="col-12 d-flex mt-6">
            <h2 class="font-weight-light tex"><i class="fas fa-mobile-alt"></i> <span class="text-wihte-50"> Cliquer sur ce bouton pour ajouter quelsques chose</span></h2>
            <button type="button" class="btn btn-dark ml-auto" data-bs-toggle="modal" data-bs-target="#exampleModalLabel" (click)="resetForm()"> <i class="fas fa-plus-circle"></i> Ajouter</button>
        </div>
    </div>
    <hr class="mt-1 mb-5 bg-dark p-1">
    <div class="row">
        <div *ngFor="let property  of properties" class="col-12 shadow-sm p-4 mb-3 bg-light">
            <div class="d-flex">
                <h3 class="font-weight-normal">{{property.categorie }}</h3>
                <div class="ml-auto">
                    <button class="btn btn-primary m-1"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger m-1"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <p>
                {{property.type}} <span *ngIf=" property.capacity && property !==''"> de {{property.capacity}}Go</span><span *ngIf=" property.color && property !==''">,{{property.color}} Bleu.</span>
            </p>
        </div>
    </div>
</div>

<!--modal-->

<div class="modal fade" id="exampleModalLabel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]="propertiesForm" (ngSubmit)="onSubmitPropertiesForm()">
            <div class="modal-content bg-info">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closebutton></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" placeholder="categorie" class="form-control" formControlName="categorie" required>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Systeme d'exploition</label>
                        <select class="form-select" id="inputGroupSelect01" formControlName="color">
                                <option selected>Choix de systeme</option>
                                <option value="1">Andoide</option>
                                <option value="2">iOS(iphone)</option>
                          </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <input type="text" placeholder="Capacity(Go)" class="form-control" formControlName="capacity">
                        </div>
                        <div class="form-group col-6">
                            <input type="text" placeholder="nombre de pièces" class="form-control" formControlName="pièces">

                        </div>

                    </div>
                    <div class="form-group">
                        <textarea class="form-control w-100" placeholder="Description du bien" cols="30" rows="4" formControlName="description"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Prix" class="form-control" formControlName="price">
                    </div>
                </div>
                <div class="modal-footer" #closebutton>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="closeModal" (click)="onSave()" type="submit" class="btn btn-primary" [disabled]="propertiesForm.invalid">Save changes</button>
                </div>
            </div>
        </form>

    </div>
</div>